<% cb_search('wade', 'chemistry') %>

<% if @results.nil? %>
<h1>No results found</h1>
<% else %>
<table id="cb">
<tr>
<% @results.each do |h| %>
<td>
<%= image_tag h['image'].inner_text() %>
</td>
<td style="width:140px;">
<%= h['title'].inner_text() %> <br/>
by <%= h['author'].inner_text() %><br />
Price: $<%= h['price'].inner_text() %><br />
Link: <%= link_to 'Here', h['link'].inner_text() , :popup => 'true'%>
</td>
<% end %>
</tr>
</table>
<% end %>
