 <div id='fb_connect'>
<%=  render(:partial => 'shared/fb_connect') %>
 </div>
<%  if @current_user %>
<ul id="sidebar-items">

  <li>

    <h3>Welcome</h3>

    <ul class="links">
      <li><%= link_to 'Home', root_path %></li>
      <li><div class="orange" id="new_post_link"style="font-family:'Delicious Bold';"><%= link_to "Add new book post", {:controller => 'book_post', :action => 'new' }, :id => "newpostlink" %></div></li>
      <li><%= link_to 'View all books', book_post_method_path('list') %></li>
      <li><%= link_to 'CB TEST', search_method_path('cbtest') %></li>
      <li><% form_tag search_method_path, :method => 'get' do %>
    <%= text_field_tag :terms, params[:terms], :size => 19 %>
    <%= submit_tag "Search", :name => nil, :terms => params[:terms] %>
<% end %></li>
    </ul>
  </li>

   <%= render :partial => 'user/bookbag', :object => @book_bag %>

 <%= render :partial => 'user/checklist' %>

<%= render :partial => 'user/myposts' %>


</ul>

<% end %>
