<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Xiggit</title>

    <% if RAILS_ENV == 'production' %>
      <%= google_prototype :version => '1.6.0.3' %>
      <%= google_scriptaculous :version => '1.8.2' %>
      <%= javascript_include_tag 'application' %>
    <% else %>
      <%= javascript_include_tag :defaults %>
    <% end %>

    <%= stylesheet_link_tag 'application'  %>


  </head>
  <body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11557446-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <%= fb_connect_javascript_tag %>
    <% init_fb_connect("XFBML","Api", :app_settings => @app_settings) do %>
      <%= yield :fb_connect %>
      <%= fb_user_action(@user_action_to_publish) if @user_action_to_publish %>
    <% end %>

     <div id="page">
      <div id="sidebar">
        <div id='fb_connect'>
          <%= render :partial => 'shared/fb_connect' %>
        </div>
        <%= render :partial => 'shared/sidebar' %>
      </div>

      <div id="main-wrapper">
   <div id="header">
          <%= yield :header %>
        </div>
        <div id='content'>
          <%= yield %>
        </div>
        <% unless request.url == root_url %>

        <% end %>

      </div>
         <div id="footer">
       &copy; 2010 Xiggit.  All rights reserved.
      </div>
    </div>


    <script type="text/javascript">
var uservoiceOptions = {
  /* required */
  key: 'xiggit',
  host: 'xiggit.uservoice.com',
  forum: '57352',
  showTab: true,
  /* optional */
  alignment: 'left',
  background_color:'#06C',
  text_color: 'white',
  hover_color: '#ff8400',
  lang: 'en'
};

function _loadUserVoice() {
  var s = document.createElement('script');
  s.setAttribute('type', 'text/javascript');
  s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
  document.getElementsByTagName('head')[0].appendChild(s);
}
_loadSuper = window.onload;
window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>

  </body>
</html>
